<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>EsiAuth - Bienvenue</title>
    {{ style('bulma.min') }}
    {{ style('style_nli') }}
  </head>
  <body>
    <section class="hero is-dark is-bold">
      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title">
            EsiAuth
          </p>
          <p class="subtitle">
            L'intranet des Esisariens
          </p>
        </div>
      </div>

      <div class="hero-foot">
        <nav class="tabs is-boxed is-centered is-medium">
          <div class="container">
            <ul>
              <li>
                <a href="https://esisariens.org/">
                  Esisariens.org
                </a>
              </li>
              <li>
                <a href="https://esilan.esisariens.org/">
                  Esilan
                </a>
              </li>
              <li>
                <a href="https://paniers.esisariens.org/">
                  Paniers de légumes
                </a>
              </li>
              <li>
                <a href="https://discord.gg/zHcwCyr">
                  Serveur Discord
                </a>
              </li>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </section>
  
    <section id="main-container" class="container">
      @if(error)
        <div class="column is-10 is-offset-1">
          <div class="notification is-danger">
            <button class="delete"></button>
            {{ error }}
          </div>
        </div>
      @endif
      <div class="columns">
        <div class="column is-4 is-offset-2">
          <div class="box">
            <h1 class="title is-4 has-text-centered">Connexion</h1>
            <form action="login" method="POST">
              <div class="field">
                <label class="label">Nom d'utilisateur</label>
                <div class="control">
                  <input class="input" type="text" name="email" placeholder="prénom.nom@etu" />
                </div>
              </div>
              <div class="field">
                <label class="label" for="password">Mot de passe</label>
                <div class="control">
                  <input class="input" type="password" name="password" />
                </div>
              </div>
              <br>
              <div class="field is-grouped is-grouped-centered">
                  <div class="control">
                    <button class="button is-primary is-medium">Se connecter</button>
                  </div>
                </div>
              {{ csrfField() }}
            </form>
          </div>
        </div>
        <div class="column is-4">
          <div class="box">
            <h1 class="title is-4 has-text-centered">Externe à l'Esisar ?</h1>
            <form action="sign-in" method="POST">
              <div class="field">
                <label class="label">Nom d'utilisateur</label>
                <div class="control">
                  <input class="input" type="text" name="username" placeholder="Sera utilisé pour vous connecter" />
                </div>
              </div>
              <div class="field">
                <label class="label">Adresse mail</label>
                <div class="control">
                  <input class="input" type="text" name="email" placeholder="jean-luc.poissard@gmail.com" />
                </div>
              </div>
              <div class="field">
                <label class="label" for="password">Mot de passe</label>
                <div class="control">
                  <input class="input" type="password" name="password" placeholder="https://xkcd.com/936/" />
                </div>
              </div>
              <div class="field">
                <label class="label" for="password">Répéter le mot de passe</label>
                <div class="control">
                  <input class="input" type="password" name="password2" />
                </div>
              </div>
              <br>
              <div class="field is-grouped is-grouped-centered">
                <div class="control">
                  <button class="button is-primary is-medium">S'inscrire</button>
                </div>
              </div>
              {{ csrfField() }}
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>